
.icon-080-ear-1:before { content: '\e800'; } /* '' */
.icon-004-placeholder-1:before { content: '\e801'; } /* '' */
.icon-017-x-ray-1:before { content: '\e802'; } /* '' */
.icon-020-x-rays-1:before { content: '\e803'; } /* '' */
.icon-046-microscope-1:before { content: '\e804'; } /* '' */
.icon-050-neurology-1:before { content: '\e807'; } /* '' */
.icon-077-investigate-1:before { content: '\e808'; } /* '' */
.icon-play-button:before { content: '\e809'; } /* '' */
.icon-quote:before { content: '\e80a'; } /* '' */
.icon-responsive:before { content: '\e80b'; } /* '' */
.icon-right-arrow:before { content: '\e80c'; } /* '' */
.icon-search:before { content: '\e80d'; } /* '' */
.icon-settings:before { content: '\e80e'; } /* '' */
.icon-shoping:before { content: '\e80f'; } /* '' */
.icon-shopping-bag:before { content: '\e810'; } /* '' */
.icon-stethoscope:before { content: '\e811'; } /* '' */
.icon-surgical:before { content: '\e812'; } /* '' */
.icon-telephone:before { content: '\e813'; } /* '' */
.icon-user:before { content: '\e814'; } /* '' */
.icon-uterus:before { content: '\e815'; } /* '' */
.icon-cardiogram:before { content: '\e816'; } /* '' */
.icon-chat:before { content: '\e817'; } /* '' */
.icon-clock:before { content: '\e818'; } /* '' */
.icon-favorites:before { content: '\e819'; } /* '' */
.icon-gastric-reflux:before { content: '\e81a'; } /* '' */
.icon-heart:before { content: '\e81b'; } /* '' */
.icon-human-body:before { content: '\e81c'; } /* '' */
.icon-laboratory:before { content: '\e81d'; } /* '' */
.icon-layers:before { content: '\e81e'; } /* '' */
.icon-left-arrow:before { content: '\e81f'; } /* '' */
.icon-liver:before { content: '\e820'; } /* '' */
.icon-mamary-gland:before { content: '\e821'; } /* '' */
.icon-med_sign:before { content: '\e822'; } /* '' */
.icon-mri:before { content: '\e823'; } /* '' */
.icon-meeting-point:before { content: '\e824'; } /* '' */
.icon-neurology_2:before { content: '\e825'; } /* '' */
.icon-ortop:before { content: '\e826'; } /* '' */
.icon-teeth:before { content: '\e827'; } /* '' */
.icon-doctor1:before { content: '\e828'; } /* '' */
.icon-doctor2:before { content: '\e829'; } /* '' */
.icon-glass-test:before { content: '\e82a'; } /* '' */
.icon-surgeon:before { content: '\e82b'; } /* '' */
.icon-003-address:before { content: '\f102'; } /* '' */
.icon-005-radar:before { content: '\f104'; } /* '' */
.icon-007-doctor-1:before { content: '\f105'; } /* '' */
.icon-008-first-aid-kit:before { content: '\f106'; } /* '' */
.icon-009-medical-kit:before { content: '\f107'; } /* '' */
.icon-010-doctor-2:before { content: '\f108'; } /* '' */
.icon-011-nurse:before { content: '\f109'; } /* '' */
.icon-012-healthcare:before { content: '\f10a'; } /* '' */
.icon-013-card:before { content: '\f10b'; } /* '' */
.icon-014-doctor-3:before { content: '\f10c'; } /* '' */
.icon-015-physical-therapy:before { content: '\f10d'; } /* '' */
.icon-016-joint:before { content: '\f10e'; } /* '' */
.icon-017-x-ray:before { content: '\f10f'; } /* '' */
.icon-021-recovery:before { content: '\f113'; } /* '' */
.icon-022-injured:before { content: '\f114'; } /* '' */
.icon-023-stethoscope:before { content: '\f115'; } /* '' */
.icon-024-nurse-1:before { content: '\f116'; } /* '' */
.icon-025-doctor-4:before { content: '\f117'; } /* '' */
.icon-026-doctor-5:before { content: '\f118'; } /* '' */
.icon-027-stethoscope-1:before { content: '\f119'; } /* '' */
.icon-028-heart:before { content: '\f11a'; } /* '' */
.icon-029-heart-1:before { content: '\f11b'; } /* '' */
.icon-030-analysis:before { content: '\f11c'; } /* '' */
.icon-031-heart-rate:before { content: '\f11d'; } /* '' */
.icon-032-heart-rate-monitor:before { content: '\f11e'; } /* '' */
.icon-033-surgery-room:before { content: '\f11f'; } /* '' */
.icon-034-surgical:before { content: '\f120'; } /* '' */
.icon-035-surgery-room-1:before { content: '\f121'; } /* '' */
.icon-036-operation:before { content: '\f122'; } /* '' */
.icon-039-phone-call:before { content: '\f125'; } /* '' */
.icon-040-phone-ringing:before { content: '\f126'; } /* '' */
.icon-041-user:before { content: '\f127'; } /* '' */
.icon-043-cardiogram:before { content: '\f128'; } /* '' */
.icon-044-cardiogram-1:before { content: '\f129'; } /* '' */
.icon-045-cardiogram-2:before { content: '\f12a'; } /* '' */
.icon-047-laboratory:before { content: '\f12c'; } /* '' */
.icon-048-lab-tool:before { content: '\f12d'; } /* '' */
.icon-049-flask:before { content: '\f12e'; } /* '' */
.icon-051-thinking:before { content: '\f130'; } /* '' */
.icon-052-brain:before { content: '\f131'; } /* '' */
.icon-053-teeth:before { content: '\f132'; } /* '' */
.icon-054-tooth:before { content: '\f133'; } /* '' */
.icon-056-tooth-1:before { content: '\f135'; } /* '' */
.icon-057-dental-implant:before { content: '\f136'; } /* '' */
.icon-058-dental-insurance:before { content: '\f137'; } /* '' */
.icon-059-blood-drop:before { content: '\f138'; } /* '' */
.icon-060-blood-donation:before { content: '\f139'; } /* '' */
.icon-061-menstruation:before { content: '\f13a'; } /* '' */
.icon-062-hypertension:before { content: '\f13b'; } /* '' */
.icon-063-brain-1:before { content: '\f13c'; } /* '' */
.icon-064-brainstorm:before { content: '\f13d'; } /* '' */
.icon-065-brain-2:before { content: '\f13e'; } /* '' */
.icon-067-operating-1:before { content: '\f13f'; } /* '' */
.icon-068-mri:before { content: '\f140'; } /* '' */
.icon-069-mri-1:before { content: '\f141'; } /* '' */
.icon-070-tomography:before { content: '\f142'; } /* '' */
.icon-071-mri-2:before { content: '\f143'; } /* '' */
.icon-072-mri-3:before { content: '\f144'; } /* '' */
.icon-073-favorites:before { content: '\f145'; } /* '' */
.icon-074-shining:before { content: '\f146'; } /* '' */
.icon-075-stethoscope-2:before { content: '\f147'; } /* '' */
.icon-076-witness:before { content: '\f148'; } /* '' */
.icon-078-eye-test:before { content: '\f14a'; } /* '' */
.icon-079-glass-test:before { content: '\f14b'; } /* '' */
